<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/loginPage.css">
    <title>로그인</title>
</head>
<body>

<div class="loginbox">
    <div class="loginTitle">
        <p>로그인</p>
    </div>
    <form th:action="@{/member/login}" th:object="${loginMember}" method="post">
        <div class="input_area">
            <input class="typeId" type="text" th:field="*{userLoginId}" name="userLoginId" placeholder="ID"><br>
            <div class="field-error" th:errors="*{userLoginId}">
                아이디 오류
            </div>
            <input class="typePassword" type="password" th:field="*{userPassword}" name="userPassword"
                   placeholder="PASSWORD">
            <div class="field-error" th:errors="*{userPassword}">
                비밀번호 오류
            </div>
        </div>

        <div>
            <button class="submitbutton" type="submit">로그인</button>
        </div>
    </form>
    <div class="join">
        <p>계졍이 없으신가요?</p>
        <a th:href="@{/member/join}">
            <button class="joinbutton">회원가입</button>
        </a>
    </div>
</div>
</body>
</html>