<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<title>게시글 상세페이지</title>
</head>
<body>
<h1>게시글 상세 페이지</h1>
<div class="postDetailbox" th:object="${post}">

    <div class="postId-box">
        <label>번호</label>
        <p type="text" th:text="*{postId}">게시글 번호</p>
    </div>
    <div class="title-box">
        <label>제목</label>
        <p type="text" th:text="*{title}">게시글 제목</p>
    </div>
    <div class="member-name-box">
        <label>작성자</label>
        <p type="text" th:text="*{member.userName}">게시글 작성자</p>
    </div>
    <div class="content-box">
        <label>내용</label>
        <p type="text" th:text="*{content}">게시글 내용</p>
    </div>

    <div th:if="${post.member?.userId} == ${sessionMember?.userId}">
        <a th:href="@{'/post/edit/' + ${post.postId}}">
            <button>수정</button>
        </a>
        <form th:action="@{'/post/delete/' + ${post.postId}}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit">삭제</button>
        </form>
    </div>

    <div class="comment-box">
        <h1>댓글</h1>
        <div th:each="comment : ${commentList}">
            <span>작성자</span>
            <p th:text="${comment.member.userName}">작성자</p>
            <span>댓글 내용</span>
            <p th:text="${comment.comment}">댓글 내용</p>
            <span>댓글 작성일</span>
            <p th:text="${comment.modifiedDate}">댓글 작성일</p>

            <div th:if="${comment.member.userLoginId} == ${sessionMember.userLoginId}">
<!--                댓글 수정하기 버튼-->
                <button type="button" data-toggle="collapse" th:attr="data-target='#' + ${comment.commentId}">
                    댓글 수정
                </button>
<!--                댓글 수정하기 버튼을 누르면 나오는 수정 폼-->
                <form class="collapse" th:id="${comment.commentId}">
                    <div>
                        <input type="hidden" id ="commentId" th:value="${comment.commentId}">
                        <textarea id="update-comment" name="comment" th:text="${comment.comment}"></textarea>
                        <button type="button" id="comment-update-btn">수정</button>
                    </div>
                </form>
<!--                댓글 삭제 버튼-->
                <div>
                    <button type="button" id="comment-delete-btn" th:value="${comment.commentId}">삭제</button>
                </div>
            </div>
        </div>
        <!--        댓글 등록-->
        <div>
            <form class="comment-write">
                <input type="hidden" id ="postId" th:value="${post.postId}">
                <input type="hidden" id ="userId" th:value="${sessionMember.userId}">
                <textarea id="write-comment" name="comment" placeholder="댓글을 입력하세요."></textarea>
                <button type="button" id="comment-write-btn">등록</button>
            </form>
        </div>

    </div>
    <div>
        <a th:href="@{/post/viewPosts}">
            <button>목록</button>
        </a>
    </div>
</div>

<script src="/js/comment.js"></script>
</body>
</html>