<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="nav">
    <h2 class="mb-5">SimpleBoard</h2>
    <div class="search">
        <form th:action="@{/post/search}" method="GET">
            <div class="searchForm">
                <input class="searchInput" name="keyword" type="text" placeholder="검색어를 입력해주세요.">
                <button type="submit">검색</button>
            </div>
        </form>
    </div>

    <div class="registry" th:if="${session.member == null}">
        <a th:href="@{/member/join}">
            <button>회원가입</button>
        </a>
        <a th:href="@{/member/login}">
            <button>로그인</button>
        </a>
        <a th:href="@{/post/write}">
            <button>글쓰기</button>
        </a>
    </div>

    <div class="registry" th:if="${session.member != null}">
        <span th:text="${session.member.userName}"></span>
        <span>님 환영합니다</span>
        <a th:href="@{/post/write}">
            <button>글쓰기</button>
        </a>
        <a th:href="@{/member/logout}">
            <button>로그아웃</button>
        </a>
    </div>
</div>