.loginbox{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    padding: 15px;

}
input{
    width: 97%;
    font-size: 25px;

}

.loginTitle{
    text-align: center;
    font-size: 22px;
}

button{
    background-color: #a3a1a1;
    color: white;

    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

    width: 100%;
    font-size: 25px;
    cursor: pointer;
}

.loginButton{
    margin-top: 10px;
}

.submitbutton{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
}

.joinbutton{
    width: 100%;
    font-size: 25px;
}

.error-message {
    border-color: #dc3545;
    color: #dc3545;
    font-size: 15px;
}