.postDetailbox{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    width: 550px;
    height: auto;
    /*border: 2px solid #ddd;*/
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.postInfoBox{
    width: 100%;
    background: #f8f8f8;
}
.member-name-box, .post-date-box, .post-view-box{
    display: inline-block;

}
.member-name-box{
    font-size: 15px;
    width: 30%;
}
.post-date-box{
    text-align: center;
    font-size: 15px;
    width: 40%;
}
.post-view-box{
    text-align: right;
    font-size: 15px;
    width: 28%;
}
.title-box, .title-box textarea{
    color: brown;
    margin: 55px 0 0 0;
    width: 100%;
    height: 30px;
    resize: none;
}

.content-box, .content-box textarea{
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 15px;
    width: 100%;
    height: auto;
    resize: none;
}
.buttonBox{
    text-align: right;
}
.comment-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    width: 550px;
    height: auto;
}
.comment-head{
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
}
.comment, .comment-write-box{
    padding: 10px;
    font-size: 15px;
}
.date{
    font-size: 12px;
    color: #848484;
    margin-left: 10px;
}
.comment-button-box{
    text-align: right;
}
.comment-content-box textarea, .comment-write-box textarea{
    width: 350px;
    height: 65px;
    resize: none;
}