<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>SimpleBoard</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">SimpleBoard</h2>

      <div class="registry" th:if="${session.member == null}">
        <a th:href="@{/member/join}"><button>회원가입</button></a>
        <a th:href="@{/member/login}"><button>로그인</button></a>
      </div>

      <div class="registry" th:if="${session.member != null}">
        <span th:text="${session.member.userName}"></span>
        <span>님 환영합니다</span>

        <!-- 글쓰기 기능 추가 예정-->
        <a th:href="@{/post/write}"><button>글쓰기</button></a>
        <a th:href="@{/member/logout}"><button>로그아웃</button></a>
      </div>

      <div class="table-responsive">

        <table class="table custom-table">
          <thead>
            <tr class="table-head">
              <th scope="col">번호</th>
              <th scope="col">작성자</th>
              <th scope="col">제목</th>
              <th scope="col">작성일</th>
              <th scope="col">조회수</th>
              <!---댓글수 보는 기능은 예정 --->
<!--              <th scope="col">댓글수</th>-->
            </tr>
          </thead>
          <tbody>
            <tr th:each="post : ${posts}">
              <td th:text="${post.postId}">게시글 번호</td>
              <td th:text="${post.member.userName}">게시글작성자</td>
              <td th:text="${post.title}">게시글 제목</td>
              <td th:text="${post.createdDate}">게시글 작성일</td>
              <td th:text="${post.view}">게시글 조회수</td>
<!--              <td>3</td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </body>
</html>