름<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="~{fragments/header :: index-header}"></div>

</head>
<body>

<div class="content" th:fragment="content-box">

    <div class="container">
        <div th:replace="~{fragments/nav :: nav}"></div>

        <div class="table-responsive">

            <table class="table custom-table">
                <thead>
                <tr class="table-head">
                    <th scope="col">번호</th>
                    <th scope="col">작성자</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                    <!---댓글수 보는 기능은 예정 --->
                    <!--              <th scope="col">댓글수</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.postId}">게시글 번호</td>
                    <td th:text="${post.member.userName}">게시글작성자</td>
                    <td><a th:href="@{'/post/detail/' + ${post.postId}}"><span th:text="${post.title}">게시글 제목</span></a>
                    </td>
                    <td th:text="${post.modifiedDate}">게시글 작성일</td>
                    <td th:text="${post.view}">게시글 조회수</td>
                    <!--              <td>3</td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{fragments/pagination :: pagination}"></div>

    </div>

</div>
</body>
</html>